{
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "react",
    "jsx-a11y"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
    // "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base",
    "plugin:jsx-a11y/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": "webpack",
    "import/parser": "babel-eslint"
  }
}