$mobile: 0 1rem;
$tablet: 0 5rem;
$laptop: 0 10rem;
$desktop: 0 15%;

// fonts
$body-text: "Andika", "sans-serif";
$title-text: "Amatic SC";
$heaviest: 700;
$semi-heavy: 600;
$normal: 400;
$light: 300;

$colors: (
  brand-black: #141910,
  brand-green: #1db954,
  brand-white: #ffffff,
);
